C:\Users\Nahms\Documents\Ryan Programming\database\__pycache__
C:\Users\Nahms\Documents\Ryan Programming\database\DBackup
C:\Users\Nahms\Documents\Ryan Programming\database\old_import
C:\Users\Nahms\Documents\Ryan Programming\database\import_files
*.csv
*.py 
!database.py
!db.py
!inp.py
